    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Poppins', sans-serif;
      background-color: #f5f7fa;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 60px;
      background-color: #000000;
      color: white;
      /* box-shadow: 0 2px 10px rgba(0,0,0,0.2); */
    }

    .logo {
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: 3px;
      /* cursor: pointer; */
      letter-spacing: 1px;
      font-family: "Story Script", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 25px;
    }

    nav ul li a {
      text-decoration: none;
      color: white;
      font-weight: 500;
      font-size: 1rem;
      padding: 6px 12px;
      border-radius: 4px;
    }

    nav ul li a:hover {
      background-color: #1c2541;
      color: #5bc0be;
    }

    @media (max-width: 768px) {
      header {
        flex-direction: column;
        text-align: center;
        padding: 20px;
      }

      nav ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
      }
    }